<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>605601681109-raa3rfm8ukggjvtk43q245ofoj568bqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605601681109-raa3rfm8ukggjvtk43q245ofoj568bqt</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_ggMiuuEjFnZ_A2d4CmbHXP5k_vi-hI</string>
	<key>GCM_SENDER_ID</key>
	<string>605601681109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martinmaly.PartyTime69</string>
	<key>PROJECT_ID</key>
	<string>partytime-c2b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>partytime-c2b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605601681109:ios:c95e4e0e24add4bd</string>
	<key>DATABASE_URL</key>
	<string>https://partytime-c2b9a.firebaseio.com</string>
</dict>
</plist>